.button-actions {
  background-color: #404042;
  padding: 1rem;
  margin: 1rem auto;
  max-width: auto;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(5, 5, 5, 0.25);
}

.button-actions button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #050505;
  background-color: #050505;
  color: white;
  border-radius: 12px;
  margin-right: 2rem;
}

.button-actions button:hover,
.button-actions button:active {
  background-color: #080808;
  border-color: #080808;
}
