table {
  border: 1px solid #ddd;
  max-width: auto;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 1px 8px rgba(5, 5, 5, 0.25);
}

table tr {
  border: 1px solid #ddd;
  padding: 8px;
}

table thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black !important;
  color: white;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}
